@import 'tailwindcss';
@import 'tw-animate-css';

.cm-editor-container [contenteditable] {
  caret-color: white;
}

.cm-tag,
.cm-wiki-link {
  @apply text-emerald-500;
  @apply cursor-pointer;
}

.cm-editor .cm-scroller {
  font-family: var(--font-editor);
}

.cm-line {
  font-weight: 400;
  font-family: var(--font-editor);
}

.ELine-gutter {
  width: 120px;
  @apply pr-2;
}

.ELine-focused {
  background-color: color-mix(in srgb, var(--color-sky-800) 10%, transparent);
}
