@import 'tailwindcss';
@import 'tw-animate-css';

.cm-editor-container [contenteditable] {
  caret-color: white;
}

.cm-tag,
.cm-wiki-link {
  @apply text-emerald-500;
  @apply cursor-pointer;
}

.cm-editor .cm-scroller {
  font-family: var(--font-editor);
}

.cm-editor .cm-tooltip {
  @apply bg-zinc-800;
  @apply rounded-md;
  @apply p-2;
  font-size: 1rem;
}

.cm-completionLabel {
  font-family: var(--font-editor);
}

.cm-line {
  font-weight: 400;
  font-family: var(--font-editor);
}

.ELine-gutter {
  width: 120px;
  @apply pr-2;
}

.ELine-focused {
  background-color: color-mix(
    in srgb,
    var(--color-emerald-500) 10%,
    transparent
  );
}

.StatusBar {
  background-color: color-mix(
    in srgb,
    var(--color-emerald-200) 10%,
    transparent
  );
}

.cm-content.cm-lineWrapping {
  padding: 0;
}
