@import '@upvalueio/third-coast/index.scss';

// Definitions files

@import './colors.scss';

body {
  // background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1 1 auto;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.ThemedBody {
  box-shadow: 0 10px $background;
  flex: 1 1 auto;
  color: $foreground;
  background-color: $background;
  margin-top:-1px
}

.dark .ThemedBody {
  background-color: $dark-background;
  color: $white;
}

// Common
@import "../components/IconButton.scss";

// Habits
@import '../Header.scss';

@import '../habits/HabitsPage.scss';
@import "../habits/Scope.scss";
@import "../habits/Task.scss";
