
.dark .Task {
  // background-color: #395939;
  border-color: $dark-gray4;

  // Zebra striping
  &:nth-of-type(odd) {
    background-color: $dark-gray4;
  }

  &:nth-of-type(even) {
    background-color: $dark-gray5;
  }
}

.Task {
  border-radius: 2px;
  background-color: $white;
}

.Task:nth-of-type(odd) {
  background-color: $light-gray5;
}

.Task:nth-of-type(even) {
  background-color: $white;
}

.Task .button {
  &.STATUS_UNSET {
    background-color: $light-gray2;
    //color: $black;
  }

  &.STATUS_INCOMPLETE {
    background-color: red;
    color: white;
  }

  &.STATUS_COMPLETE {
    background-color: #449d44;
    color: $white;
  }

  border:0;
  text-align: left;
  
  background-image: none;
  box-shadow: none;
}

.dark .Task .button {
  &.STATUS_UNSET {
    background-color: $light-gray2;
    color: $black;
  }
}

.Comment {
  font-family: $font-mono;
  font-size: 0.8rem;
}