
.sidebar {
  // border-radius: 4px;
  padding: 1rem;
  border-right: 1px solid $light-gray1;
  background-color: white;
  box-shadow: 1px 0px 1px 0px $light-gray1;
}

.dark .sidebar {
  background-color: $dark-gray5;
  border-right: 1px solid $dark-gray5;
  box-shadow: 1px 0px 1px 0px  $dark-gray3;
}

main .scopes {
  max-height: 100%;
}

main .scope {
  overflow-y: auto;
}

.scope {
  background-color: $white;
  box-shadow: 0px 0px 3px 1px $light-gray1;
  border-radius: 2px;
  max-width: 33%;

  .Comment {
    font-family: $font-mono;
    font-size: 0.8rem;
  }
}

.dark .Task {
  // background-color: #395939;
  border-color: $dark-gray4;

  // Zebra striping

  &:nth-of-type(odd) {
    background-color: $dark-gray4;
  }

  &:nth-of-type(even) {
    background-color: $dark-gray5;
  }
}

.dark .scope {
  box-shadow: none;
  background-color: $dark-gray5;
  box-shadow: 0px 0px 1px 0px $dark-gray2;
}

.Task {
  border-radius: 2px;
  background-color: $white;
}


.Task:nth-of-type(odd) {
  background-color: $light-gray5;
}

.Task:nth-of-type(even) {
  background-color: $white;
}

.Task .button {
  &.STATUS_UNSET {
    background-color: $light-gray2;
    //color: $black;
  }

  &.STATUS_INCOMPLETE {
    background-color: red;
    color: white;
  }

  &.STATUS_COMPLETE {
    background-color: #449d44;
    color: $white;
  }
  border:0;
  text-align: left;
  
  background-image: none;
  box-shadow: none;
}