
main .scopes {
  max-height: 100%;
}

main .Scope {
  overflow-y: auto;
}

.Scope {
  background-color: $white;
  box-shadow: 0px 0px 3px 1px $light-gray1;
  border-radius: 2px;
  width: 25%;
}

.dark .Scope {
  box-shadow: none;
  background-color: $dark-gray5;
  box-shadow: 0px 0px 1px 0px $dark-gray2;
}