.cm-editor-container [contenteditable] {
  caret-color: white;
}

.cm-tag {
  color: blue;
}

.cm-editor .cm-scroller {
  font-family: var(--font-stack);
  /* @apply flex */
  /* by example to mix in tailwind */
}
