header.dark {
  background-color: $background;
  color: $black;
}

header {
  background-color: $dark-gray4;
  color: $white;

  box-shadow: inset 0px -6px 10px 0px $dark-gray2;
}

.Header-nav {
  background-color: $background;
}