header {
  background-color: $dark-gray4;
  color: $white;
  // box-shadow: inset 0px -6px 10px 0px $dark-gray2;
  //box-shadow: 0px -6px 10px 0px $light-gray4;
  box-shadow: 0px 5px 5px $light-gray1;
  &.dark {
    background-color: $dark-gray3;
    color: $white;
    box-shadow: inset 0px -6px 10px 0px $dark-gray2;
  }
}


.Header-nav {
  background-color: $background;
}