@import url("/assets/vendor/bootstrap/dist/css/bootstrap.min.css");
@import url("/assets/vendor/roboto-fontface/css/roboto-fontface.css");
@import url("/assets/vendor/octicons/octicons/octicons.css");
@import url("/assets/vendor/medium-editor/dist/css/medium-editor.min.css");
@import url("/assets/vendor/medium-editor/dist/css/themes/bootstrap.min.css");
@import url("/assets/vendor/jquery-ui/themes/smoothness/jquery-ui.css");

body {
  font-family: Roboto, sans-serif;
}

a, a:visited {
  color: #09d;
}

ul.nav a {
  color: #09d !important;
}

ul.nav a:hover {
  background-color: #eee !important;
}

.medium-editor-toolbar li button {height: auto; min-width: 0; }

/**** HABITS */

.scope-title {
  display: inline;
}

.scope-controls { display: inline; }

.scope {
  padding: 0 .25em .50em .25em;
}

.scope task:first-of-type .entry {
  padding-top:1em;
}

.scope .entry {
  padding-bottom: .15em;
}

input.form-control[type=text] { height:1.5em; }

.comment p {
  margin-bottom: 0;
}

.comment p:first-of-type { padding-top:.25em; }

.comment:empty { display: inline;}

/**** JOURNAL */

.container-fluid h3:first-of-type { margin:0; }
