/* note: relative URLs will be compressed by webpack */
@import url("vendor/bootstrap/dist/css/bootstrap.min.css");
@import url("vendor/medium-editor/dist/css/medium-editor.min.css");
@import url("vendor/medium-editor/dist/css/themes/bootstrap.min.css");
@import url("vendor/medium-editor-tables/dist/css/medium-editor-tables.css");
@import url("vendor/jquery-ui/themes/smoothness/jquery-ui.css");

@import url("vendor/octicons/octicons/octicons.css");
@import url("vendor/bitter-fontface/bitter.css");
@import url("vendor/open-sans-fontface/open-sans.css");
@import url("vendor/Inconsolata/css/inconsolata.css");

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
}

a, a:visited {
  color: #09d;
}

ul.nav a {
  color: #09d!important;
}

.medium-editor-toolbar li button {height: auto; min-width: 0; }

ul.nav a.navbar-link-disabled {
  color: #000 !important;
}

.navbar-brand { font-size: medium; }
.navbar{
  font-size: small;
}

.controls {
  font-size: small !important;  
}

/**** HABITS */

.scope-title {
  display: inline;
}

.scope-controls { display: inline; }

.scope {
  padding: 0 .25em .50em .25em;
}

.scope task:first-of-type .entry {
  padding-top:0.2em;
}

.scope .entry {
  clear:both;
  padding-bottom: .15em;
}

/* Text align doesn't work properly if we don't do this to pad them from the task controls */
.entry div:first-of-type { padding-top:2px;}

.entry { font-size: 0.8em; }

#content input.form-control[type=text] { height:1.5em; }

.comment {
  font-family: "Inconsolata", monospace;
}

.comment p {
  margin-bottom: 0;
}

.comment p:first-of-type { padding-top:.25em; }

.comment:empty { display: inline;}

.btn-xs {
  font-size: .75rem;
  padding: .05rem .30rem;
}

.task-control { padding:2px;}

/**** JOURNAL */

.container-fluid h3:first-of-type { margin:0; }

#entries-title { display: inline; }

.entry-tag-form {display:inline; }

.navigation-list { 
  list-style: none;
  margin-left: 2px;
}

.navigation-list ul { font-size:0.8em; list-style: none; padding-left: 1em; }

#journal-nav ul.nav { display:inline; clear:none; list-style-type:none; margin:0;padding:0; }

.journal-controls { background-color: #eee; padding-left:5px; padding-right: 5px; border-radius: 5px; }

.journal-tags { font-size: 0.8em; clear:both; display:block; }

.journal-tag { display:block; clear:both; }

.journal-timestamp { display:block; clear:both; font-size:0.8em; }

.journal-control { padding: 2px; }

div#alphabetical li { font-size:0.8em; }

/* Remove spurious spacing between entries */
.entry-body p:last-of-type { margin-bottom:0; }

/***** WIKI */
div#content h1:first-of-type { margin-top:0; }
