@import url("/assets/vendor/bootstrap/dist/css/bootstrap.min.css");
@import url("/assets/vendor/open-sans-fontface/open-sans.css");
@import url("/assets/vendor/Inconsolata/css/inconsolata.css");
@import url("/assets/vendor/octicons/octicons/octicons.css");
@import url("/assets/vendor/medium-editor/dist/css/medium-editor.min.css");
@import url("/assets/vendor/medium-editor/dist/css/themes/bootstrap.min.css");
@import url("/assets/vendor/jquery-ui/themes/smoothness/jquery-ui.css");

body {
  font-family: "Open Sans", monospace;
}

a, a:visited {
  color: #09d;
}

ul.nav a {
  color: #09d!important;
}

.medium-editor-toolbar li button {height: auto; min-width: 0; }

ul.nav a.navbar-link-disabled {
  color: #000 !important;
}

.navbar-brand { font-size: medium; }
.navbar{
  font-size: small;
}

.controls {
  font-size: small !important;  
}

/**** HABITS */

.scope-title {
  display: inline;
}

.scope-controls { display: inline; }

.scope {
  padding: 0 .25em .50em .25em;
}

.scope task:first-of-type .entry {
  padding-top:1em;
}

.scope .entry {
  clear:both;
  padding-bottom: .15em;
}

/* Text align doesn't work properly if we don't do this to pad them from the task controls */
.entry div:first-of-type { padding-top:2px;}

.entry { font-size: 0.8em; }

#content input.form-control[type=text] { height:1.5em; }

.comment {
  font-family: "Inconsolata", monospace;
}

.comment p {
  margin-bottom: 0;
}

.comment p:first-of-type { padding-top:.25em; }

.comment:empty { display: inline;}

.btn-xs {
  font-size: .75rem;
  padding: .05rem .30rem;
}

.task-control { padding:2px;}

/**** JOURNAL */

.container-fluid h3:first-of-type { margin:0; }

#entries-title { display: inline; }

.entry-tag-form {display:inline; }

/* Remove spurious spacing between entries */
.entry-body p:last-of-type { margin-bottom:0; }

/***** WIKI */
div#content h1:first-of-type { margin-top:0; }
