// habits.scss - habits-specific styling

@import "shared.scss";

$taskBackground: $bg-gray;
$commentBackground: #fcfcfc;

.scope {
  border: 1px solid #e1e4e8;
  background-color: darken(#f6f8fa, 0%) !important;
}

.scope-column {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .scope-column {
    width: 99%;
  }
}

.scope-controls {
  display:inline; 
}

.scope-controls .btn, .task-controls .btn, .project-controls .btn, .entry-controls .btn {
}

/** Highlight hovered tasks */
.task:hover {
  transition: background-color 0.5s ease; 
  background-color: darken($taskBackground, 5%);
}

.task:hover .task-comment {
  // transition: background-color 0.5s ease;
  //background-color: darken($editableBg, 5%);
}

.task .task-comment {
  background-color: $editableBg;
  font-size: 0.8em;
  // Comments are padded slightly to indicate that they exist within tasks
}

.task-comment[data-medium-focused="true"] {
  // background-color: darken($editableBg, 5%);
}

.task-last-modified {
  font-weight: bold;
}

.task-last-modified .task-status {
  font-weight: bold !important;
}

.task {
  padding-top: 1px;
  padding-bottom: 1px;
}

.task:last-of-type {
  border:0;
}

.scope-header h3 { display: inline;}

.task-status {
  /* Task buttons should be a bit smaller */
  padding: 0px 4px 0px 4px;
  font-weight: normal;
  border:0;
  border-radius:1px;
}

.task-status.task-unset {
  background-color: #ddd;
  background-image: none;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.task-status.task-complete {
  background-color: #449d44;
  border: 1px solid #419641;
  background-image: none; //linear-gradient(#74c94f 0%, #6cc644 100%);
  color: white;
}

.task-status.task-incomplete {
  background-color: #d9534f; //#b32a00;
  border: 1px solid #d9534f;
  background-image: none; //linear-gradient(#b32a00 0%, #bd2c00 100%);
  color: white;
}

.task-controls {
  vertical-align: text-top;
  color: $uiColorMuted;
}

.task-comment {
  font-family: $mono-font;
  /* Comments have an off-white background */
  padding: 2px;
  font-size: 12px;
}

.task-comment p:first-of-type {
  padding-top: .25em;
}

/* Do not add padding to bottom of comments */
.task-comment p{
  margin-bottom: 0;
}


.task-comment:hover {
  transition: box-shadow 1s ease;
  box-shadow:  0 0 4px#09d;
}

// This one is a little tricky - we want a flame to go from grey, to yellow, to orange, to red,
// getting progressively larger. This is achieved by looping from 1 to 6 within a 0 to 4 loop; the
// actual class name is determined by multiplying the current index of both loops, the index of the
// 0-4 loop is used to get the color and the index of the 0-6 is used to get a percentage which is
// then passed to the mix function.

$pa-percentages: (
  90%, 75%, 60%, 45%, 30%, 15%
);

$pa-colors: (
  #ccc, #ffcd38, #ff9900, #ff6e26, #f00
);

.project-activity-0 {
  color: #ccc;
  font-size: 1em;
}

@for $j from 0 to 4 {
  @for $i from 1 to 6 {
    $pan: ($j * 6) + $i;
    .project-activity-#{$pan} {
      color: mix(nth($pa-colors, $j + 1), nth($pa-colors, $j + 2), nth($pa-percentages, $i + 1));
      font-size: 1em + ($pan / 24);
    }
  }
}