// journal.scss - journal-specific styling

@import "~react-tabs/style/react-tabs.css";

@import "shared.scss";

#journal-sidebar {
  width: 15%;
}

#journal-main {
  width: 85%;
}

@media (max-width: $mobileWidth) {
  #journal-sidebar, #journal-main { width: 100%; }
}

.react-tabs {
  border-bottom: 1px solid #d1d5da;
}

.react-tabs__tab {
  border-radius:2px;
}

.react-tabs__tab--selected {
  border-top: 2px solid #e36209;
}

.entry-body {
  font-family: $body-font;
  background-color: white;
  font-size: 16px;
}

.entry-body p:last-of-type {
  margin-bottom: 0;
}


.link-tree-node .link-tree-node {
  margin-left: 15px;
}

.link-tree-parent .link-tree-node {
  margin-left: 9px;
}

.link-tree-node-anchor {
  cursor: pointer;
}
