// Import only what is necessary
@import "primer-base/index";
@import "primer-box/index";
@import "primer-buttons/index";
@import "primer-forms/index";
@import "primer-navigation/index";
@import "primer-layout/index";
@import "primer-tooltips/index";
@import "primer-support/index";
@import "primer-alerts/index";
@import "primer-utilities/index";

@import "animations.scss";
@import "datepicker.scss";
@import "medium-editor.scss";

$linkColor: #09d;
$bodyBg: white;
/* Slightly muted color of some UI actions e.g. task modifiers */
$uiColorMuted: #586069;
$uiColorSlightlyMuted: #23282d;
$bgSlightlyMuted: #c8cfd6;

// Width at which to put the UI into mobile mode
// NOTE: This should also be changed in constants.ts
$mobileWidth: 1024px;
$editableBg: #fcfcfc;

body {
  font-family: "Roboto", $body-font;
}

.masthead {
  background-color: #f5f5f5;
}

.masthead .tabnav span {
  padding-right:5px;
}

.tabnav .selected {
  border-top: 2px solid #e36209;
  font-weight: bold;
}

#mobile-menu {
  display: none !important;
  position: fixed;
  right: 10px;
  top: 50px;
  z-index: 1;
}

@media (max-width: $mobileWidth) {
  #mobile-menu {
    display: flex !important;
  }
}

///// Notification bar
#notifications {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

  position: fixed;
  left: 20px;
  top: 50px;
  z-index: 1;
  width: 320px;
}

///// MODAL PROMPT
#modal {
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 50%;
  width: 350px;
  margin-left: -175px;
  box-shadow: 0 0 3px grey;
}

.no-display {
  display:none !important;
}

/** A muted, borderless button */
.btn-octicon {
  background: transparent;
  border:0;
  padding: 0;
}

.octicon-svg {
  fill: $uiColorSlightlyMuted;
}

.btn-danger svg {
  fill: #b33630;
}

// Primer resets LI margin for some reason; it may change in a future version
li {
  margin-left: 20px;
}

a {
  color: #09d;
}

blockquote {
  margin-left: 10px;
  border: 3px solid #09d;
  background-color: #fafafa;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

// For time navigator, don't allow dragging and dropping of buttons
.btn.navigator-btn {
  -webkit-user-drag: none;
}