/* habits.css - habits-specific styling */

:root {
  --task-background: var(--bg-gray);
  --comment-background: #fcfcfc;
}

.scope {
  border-radius: 2px;
  border: 1px solid #e1e4e8;
  background-color: #f6f8fa !important;
}

.scope-tasks {
  padding-bottom: 0.10rem;
}

.scope-column {
  width: 25%;
}

.scope-controls {
  display:inline; 
}

.scope-day-empty {
  padding: 1em 2em 1em 2em;
  color: #7f7f7f;
}

.scope-day-empty-task label {
  color: #000;
}

/** Highlight hovered tasks */
.task:hover {
  transition: background-color 0.5s ease; 
  background-color: #efefef;
}

.task-last-modified {
  font-weight: bold;
}

.task-last-modified .task-status {
  font-weight: bold !important;
}

.task {
  padding-top: 1px;
  padding-bottom: 1px;
}

.task:last-of-type {
  border:0;
}

.scope-header h3 { display: inline;}

.task-status {
  /* Task buttons should be a bit smaller */
  padding: 0px 4px 0px 4px;
  font-weight: normal;
  border:0;
  border-radius:1px;
}

.task-status.task-unset {
  background-color: #ddd;
  background-image: none;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.task-status.task-complete {
  background-color: #449d44;
  border: 1px solid #419641;
  background-image: none; 
  color: white;
}

.task-status.task-incomplete {
  background-color: #d9534f; 
  border: 1px solid #d9534f;
  background-image: none; 
  color: white;
}

.task-controls {
  vertical-align: text-top;
  color: var(--ui-slightly-muted);
}

.task-comment {
  background-color: var(--editable-bg);
  font-size: 0.8em;
  font-family: var(--mono-font);
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Do not add padding to bottom of comments */
.task-comment p {
  margin-bottom: 0;
}


.task-comment:hover {
  transition: box-shadow 1s ease;
  box-shadow:  0 0 4px#09d;
}