@import "shared.scss";

$taskBackground: $bg-gray;
$commentBackground: #fcfcfc;

.scope {
  border: 1px solid #e1e4e8;
  background-color: darken(#f6f8fa, 0%) !important;
}

.scope-column {
  width: 25%;
  /* TODO SCSS includes */
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .scope-column {
    width: 100%;
  }
}

.scope-controls {
  display:inline; 
}

.scope-controls .btn, .task-controls .btn, .project-controls .btn, .entry-controls .btn {
}

/** Highlight hovered tasks */
.task:hover {
  transition: background-color 0.5s ease; 
  background-color: darken($taskBackground, 5%);
}

.task:hover .task-comment {
  transition: background-color 0.5s ease;
  background-color: darken($commentBackground, 5%);
}

.task .task-comment {

  font-size: 0.8em;
  // Comments are padded slightly to indicate that they exist within tasks
}

.task-comment[data-medium-focused="true"] {
  background-color: darken($commentBackground, 5%);
}

.task {
  padding-top: 1px;
  padding-bottom: 1px;
}

.task:last-of-type {
  border:0;
}

.scope-header h3 { display: inline;}

.task-status {
  /* Task buttons should be a bit smaller */
  padding: 0px 4px 0px 4px;
  font-weight: normal;
  border:0;
  border-radius:1px;
}

.task-status.task-unset {
  background-color: #ddd;
  background-image: none;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.task-status.task-complete {
  background-color: #449d44;
  border: 1px solid #419641;
  background-image: none; //linear-gradient(#74c94f 0%, #6cc644 100%);
  color: white;
}

.task-status.task-incomplete {
  background-color: #d9534f; //#b32a00;
  border: 1px solid #d9534f;
  background-image: none; //linear-gradient(#b32a00 0%, #bd2c00 100%);
  color: white;
}

.task-controls {
  vertical-align: text-top;
  color: $uiColorMuted;
}

.task-comment, .entry-body {
  font-family: $mono-font;
  /* Comments have an off-white background */
  padding: 2px;
  font-size: 12px;
}

/* Do not add padding to bottom of comments */
.task-comment p:last-of-type {
  margin-bottom: 0;
}


.task-comment:hover {
  transition: box-shadow 1s ease;
  box-shadow:  0 0 4px#09d;
}

.btn-octicon {
  background: transparent;
  border:0;
  color: $uiColorMuted;
  padding: 0;
}

button.btn-octicon svg {
  fill: #09d;
}

.btn-danger svg {
  fill: #b33630;
}

.project-activity-0 {
  color: #ccc;
}

.project-activity-1 {
  color: #ffcd38;
  font-size: 1.4em;
}

.project-activity-2 {
  color: #ff6e26;
  font-size: 1.8em;
}
.project-activity-3 {
  color: #f00;
  font-size: 2em;
}
