// TODO: Only use necessary CSS components
@import "primer-css/index.scss";

/*
@import "~medium-editor/dist/css/medium-editor.min.css";
@import "~medium-editor/dist/css/themes/bootstrap.min.css";
@import "~medium-editor-tables/dist/css/medium-editor-tables.css";
@import "~react-datepicker/dist/react-datepicker";
@import "~react-tabs/style/react-tabs.css";

*/
/*
@import "~octicons/octicons/octicons.css";
*/

@import "animations.scss";

$linkColor: #09d;
$bodyBg: #fff;
$commentFont: $mono-font;

.masthead {
  background-color: #f5f5f5;
}


.masthead .tabnav span {
  padding-right:5px;
}

.tabnav .selected {
  border-top: 2px solid #e36209;
  font-weight: bold;
}

#mobile-menu {
  display: none !important;
  position: fixed;
  right: 10px;
  top: 50px;
  z-index: 1;
}

@media (max-width: 768px) {
  #mobile-menu {
    display: flex !important;
  }
}

///// Notification bar
#notifications {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

  position: fixed;
  left: 20px;
  top: 50px;
  z-index: 1;
  width: 320px;
}
