.KBarModal-container {
  background: radial-gradient(100% 100% at 50% 0, #0c0d0f 0, #07080a 150%);
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.05);
}

.KBarModal-positioner {
  backdrop-filter: blur(3px);
}
