<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | {{ Config.SiteTitle }}</title>
    {% block style %}{% endblock %}
    <link rel=stylesheet href="/assets/webpack/bundle-{{Page}}.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <script type=text/javascript>window.MeditationsConfig = {{ ConfigJSON | safe}}</script>
  </head>
  <body>
    <header class="masthead ">
      <div class="tabnav pl-2 pt-2">
        <div class="float-right pr-3 d-flex">
        </div>
        <nav class="tabnav-tabs">
          <span style="font-weight:bold">
            meditations
            {% if Config.Development %}
            <span style="color:red;">(dev)</span>
            {% else %}
              {% if Config.Demo %}(demo){% endif %}
            {% endif %}
          </span>

          <a id="habits-link" class="tabnav-tab {% if Page == "habits"%}selected{% endif %}" href="/habits#">
            Habits
          </a>

          <a id="journal-link" class="tabnav-tab {% if Page == "journal"%}selected{% endif %}" href="/journal#">
            Notes
          </a>
        </nav>
      </div>
    </header>

    <div id=root class="pl-1 pr-1">
      <noscript>
        This application requires javascript to function.
      </noscript>

      {% block content %}{% endblock %}
    </div>
    <div >
      <div class="d-flex flex-justify-center">
        {% autoescape off %} {{Config.Message }}      {% endautoescape %}
      </div>
      <div class="d-flex flex-justify-center">
        <a href="https://ioddly.github.io/meditations">
          Manual
        </a>
        &nbsp;
        <a href="https://upvalue.io">
          <img src="/assets/upvalue.svg" className="vertical-align:middle;" />
        </a>
      </div>
    </div>

    {% block script %}{% endblock %}
  </body>
</html>
