<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | Meditations</title>

    <link rel="stylesheet" href="/assets/site/site.css" />

    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div id="custom-menu-wrapper-wrapper">
      <div class="custom-menu-wrapper">
        <div class="pure-menu custom-menu custom-menu-top">
          <a href="#" class="pure-menu-heading custom-menu-brand">Meditations</a>
          <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
          <div class="custom-menu-screen"></div>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/habits" class="pure-menu-link">Habits</a></li>
            <li class="pure-menu-item"><a href="/journal" class="pure-menu-link">Journal</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id=content>
    {% block content %}{% endblock %}
    </div>

    <script src="/assets/site/site.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
