<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | {{ Config.SiteTitle }}</title>
    {% block style %}{% endblock %}
    <link rel=stylesheet href="/assets/webpack/bundle-style.css">
    <script type=text/javascript>window.MeditationsConfig = {{ ConfigJSON | safe}}</script>
  </head>
  <body>
    <div id="navigation" class="container-fluid">
      <span id="navigation-brand">meditations</span>
      <a id="habits-link" class="navigation-link{% if Page == "habits"%}-active{% endif %} btn btn-sm btn-secondary" href="/habits#">
        Habits
      </a>
      <a id="habits-link" class="navigation-link{% if Page == "journal"%}-active{% endif %} btn btn-sm btn-secondary" href="/journal#">
        Journal
      </a>
    </div>

    {% block controls %}
    {% endblock %}

    <div id=content class="container-fluid">
      <noscript>
        This application requires javascript to function.
      </noscript>

      {% block content %}{% endblock %}
    </div>

    {% block script %}{% endblock %}
  </body>
</html>
