{% extends "base.htm" %}

{% block title %}Habits{% endblock %}

{% block content %}
<div class=row>
  <div class=col-md-3>
    <a name="scope-day-anchor"></a>
    <scope-days/>
  </div>
  <div class=col-md-3>
    <a name="scope-month-anchor"></a>
    <scope id="scope-month"/>
  </div>
  <div class=col-md-3>
    <a name="scope-year-anchor"></a>
    <scope id="scope-year"/>
  </div>
  <div class=col-md-3>
    <a name="scope-bucket-anchor"></a>
    <scope id="scope-bucket"/>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/vendor/riot/riot+compiler.min.js"></script>
<script src="/assets/vendor/RiotControl/riotcontrol.js"></script>
<script src="/assets/site/habits.js">
<script src="/assets/site/habits.tag" type=riot/tag></script>
<script type="text/javascript">$(document).ready(window.Habits.main);</script>
{% endblock %}
