{% extends "base.htm" %}

{% block title %}Habits{% endblock %}

{% block navigation %}
  <div class="controls pull-xs-right navbar-right">
    <div class=navbar-btn>
      <span>
        <strong>
        {{Message}}
        </strong>
      </span>
      {% for link in HabitYearLinks %}
      <button type=button class="btn btn-link btn-sm">
        <a href="/habits#view/{{link.Href}}-01/0">'{{link.Text}}</a>
      </button>
      {% endfor %}

      <button type=button class="btn btn-primary btn-sm" data-toggle=modal data-target="#export-modal">
        Export data
      </button>
      <span id="saved-button" class="btn btn-sm octicon octicon-check" title=saved></span>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class=row>
  <div class=col-md-3>
    <a name="scope-day-anchor"></a>
    <scope-days/>
  </div>
  <div class=col-md-3>
    <a name="scope-month-anchor"></a>
    <scope id="scope-month"/>
  </div>
  <div class=col-md-3>
    <a name="scope-year-anchor"></a>
    <scope id="scope-year"/>
  </div>
  <div class=col-md-3>
    <a name="scope-bucket-anchor"></a>
    <scope id="scope-bucket"/>
  </div>
</div>

<div id=export-modal class="modal fade" tabindex=-1 role=dialog>
  <div class=model-dialog>
    <div class=modal-content>
      <div class=modal-header>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Export</h4>
      </div>
      <div class=modal-body>
        <form id=export-task class=form-inline action=/habits/export method=POST>
          <div class=form-group>
            <label for=day>Daily</label>
            <input name=day type=checkbox value=day>
            <label for=month>Monthly</label>
            <input name=month type=checkbox value=month>
            <label for=year>Yearly</label>
            <input name=year type=checkbox value=year>
          </div>

          <div class=form-group>
            <input name=name id=export-task-name class=form-control placeholder="Task name">
          </div>
          <button id=export-add type=submit class="btn btn-default">Export task</button>
        </form>
        <p>Hello</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id=bucket-modal class="modal fade" tabindex=-1 role=dialog>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bucket lists</h4>
      </div>
      <div class="modal-body">
        <select id="bucket-select" class=form-control>
        </select>
        <br/>
        <button id=bucket-select-button type=button class="btn btn-default" data-dismiss=modal>Select</button>
        <!--<button id=bucket-delete type=button class="btn btn-default">Delete</button>-->
        <br />
        <br/>
        <form class=form-inline>
          <div class=form-group>
            <input id=bucket-add-name class=form-control placeholder=Name>
          </div>
          <button id=bucket-add type=submit class="btn btn-default" data-dismiss=modal>Add list</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/habits.js"></script>
<script type=riot/tag src=assets/habits-tag.tag></script>

<script type="text/javascript">
$(document).ready(function() {
  window.Habits.main()
});</script>
{% endblock %}
