{% extends "base.htm" %}

{% block title %}Habits{% endblock %}

{% block navigation %}
  <div class="controls pull-xs-right navbar-right">
    <div class=navbar-btn>
      {% if Config.Message != "" %}
      <span>
        <strong>
        {{Config.Message}}
        </strong>
      </span>
      {% endif %}
      {% for link in HabitYearLinks %}
      <a href="/habits#view/{{link.Href}}-01/0" class="btn btn-link btn-sm">
        '{{link.Text}}
      </a>
      {% endfor %}

      <button type=button class="btn btn-primary btn-sm" data-toggle=modal data-target="#export-modal">
        Tasks <span class="octicon octicon-arrow-right"></span> Plaintext
      </button>
      <span id="saved-button" class="btn btn-sm octicon octicon-check" title=saved></span>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class=row>
  <div class=col-md-3>
    <scope-days></scope-days>
  </div>
  <div class=col-md-3>
    <scope id="scope-month"></scope>
  </div>
  <div class=col-md-3>
    <scope id="scope-year"></scope>
  </div>
  <div class=col-md-3>
    <scope id="scope-bucket"></scope>
  </div>
</div>

<div id=bucket-modal class="modal fade" tabindex=-1 role=dialog>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bucket lists</h4>
      </div>
      <div class="modal-body">
        <select id="bucket-select" class=form-control>
        </select>
        <br/>
        <button id=bucket-select-button type=button class="btn btn-default" data-dismiss=modal>Select</button>
        <!--<button id=bucket-delete type=button class="btn btn-default">Delete</button>-->
        <br><br>
        <form class=form-inline>
          <div class=form-group>
            <input id=bucket-add-name class=form-control placeholder=Name>
          </div>
          <button id=bucket-add type=submit class="btn btn-default" data-dismiss=modal>Add list</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id=export-modal class="modal fade" tabindex=-1 role=dialog>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Export</h4>
      </div>
      <div class="modal-body">
        <form id=export-task action=/habits/export method=POST>
          <div class=form-group>
            <label for=day>Daily</label>
            <input id=day name=day type=checkbox value=day>
            <label for=month>Monthly</label>
            <input id=month name=day type=checkbox value=month>
            <label for=year>Yearly</label>
            <input id=year name=day type=checkbox value=year>
          </div>

          <div class=form-group>
            <input id="export-before-date" class="datepicker form-control" type=text name=export_before_date placeholder="Don't include dates before">
            <input id="export-after-date" class="datepicker form-control" type=text name=export_after_date placeholder="Don't include dates after">
          </div>

          <div class=form-group>
            <label>Status</label>
            <input name=status type=checkbox value=status>

          </div>

          <div class=form-group>
            <input name=name id=export-task-name class=form-control placeholder="Task name">
          </div>
          <button id=export-add type=submit class="btn btn-default">Export task descriptions</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{% if Config.Webpack %}
  <script src="/assets/webpack-bundle-habits.js"></script>
{% else %}
  <script type=riot/tag src=assets/habits-tag.tag></script>
  <script src="/assets/habits.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {window.Habits.main({% if Config.Tutorial %}true{% endif %});});
  </script>
{% endif %}

{% endblock %}
