{% extends "base.htm" %}

{% block title %}Journal{% endblock %}

{% block navigation %}
  <div class=navbar-right>
    <a class="navbar-btn btn btn-sm" href="/journal#tags">Tags</a>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input class="form-control" id="journal-new-entry-date" type=text placeholder="New entry" >
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
<entries></entries>
<tag-cloud></tag-cloud>
{% endblock %}

{% block script %}
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>

<script src="/assets/journal.js"></script>
<script src="/assets/journal.tag" type=riot/tag></script>

<script type="text/javascript">$(document).ready(function() { /*window.Habits.initialize();*/ window.Journal.main(); });</script>
{% endblock %}
