{% extends "base.htm" %}

{% block title %}Journal{% endblock %}

{% block navigation %}
  <div class=pull-right>
    <form class="form-inline pull-xs-right">
      <a class="navbar-btn btn btn-sm" href="/journal#tags">Tags</a>
      <div class="form-group">
        <input class="form-control" id="journal-new-entry-date" type=text placeholder="New entry" >
      </div>
      <span id="saved-button" class="navbar-btn btn btn-sm octicon octicon-check" title=saved></span>
    </form>
  </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>

<script src="/assets/journal.js"></script>
<script type=riot/tag src="/assets/journal-tag.tag"></script>

<script type="text/javascript">$(document).ready(function() { 
  window.Journal.main();
});
</script>
{% endblock %}
