/* arche rev: 2f5d48eac375466f8fb4cb48f526d92bb36b4a56 (modified) */
/*
 * arche is a two-file React component library. It is intended to be copied (or symlinked)
 * directly into projects.
 *
 * Its styling is derived heavily from BlueprintJS and it is a derivative work.
 * See: https://github.com/palantir/blueprint/blob/develop/LICENSE
 */

:root {
  /** TYPOGRAPHY **/
  --a-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  --a-font-mono: monospace;

  /** SPACING **/

  --a-space-1: 4px;
  --a-space-2: 8px;
  --a-space-3: 12px;
  --a-space-4: 16px;
  --a-space-5: 32px;

  /** COLORS **/

  --a-black: 0,0,0;
  --a-white: 255,255,255;

  --a-dark-gray-1: 16,22,26;
  --a-dark-gray-2: 32,43,51;
  --a-dark-gray-3: 41,55,66;
  --a-dark-gray-4: 48,64,77;
  --a-dark-gray-5: 57,75,89;

  --a-gray-1: 92,112,128;
  --a-gray-2:115,134,148;
  --a-gray-3: 138,155,168;
  --a-gray-4: 167,182,194;
  --a-gray-5: 191,204,214;

  --a-light-gray-1: 206,217,224;
  --a-light-gray-2: 216,225,232;
  --a-light-gray-3: 225,232,237;
  --a-light-gray-4: 235,241,245;
  --a-light-gray-5: 248,245,250;

  /** bless */
  --a-blue-1: 14,90,138;
  --a-blue-2: 16,107,163;
  --a-blue-3: 19,124,189;
  --a-blue-4: 43,148,214;
  --a-blue-5: 72,176,240;

  --a-green-1: 10,102,64;
  --a-green-2: 13,128,80;
  --a-green-3: 15,153,96;
  --a-green-4: 21,179,113;
  --a-green-5: 61,204,144;

  --a-orange-1: 166,99,33;
  --a-orange-2: 191,115,38;
  --a-orange-3: 217,130,43;
  --a-orange-4: 242,157,73;
  --a-orange-5: 255,179,102;

  --a-red-1: 168,42,42;
  --a-red-2: 194,48,48;
  --a-red-3: 219,55,5;
  --a-red-4: 245,86,86;
  --a-red-5: 225,115,115;
}

/*****
 * TYPOGRAPHY
 *****/

.a-bold { font-weight: bold; }

/*****
 * FLEXBOX
 *****/

.a-flex { display: flex; }
.a-inline-flex  { display: inline-flex; }
.a-inline { display: inline; }
.a-justify-center { justify-content: center; }
.a-justify-around { justify-content: space-around;}
.a-items-center { align-items: center; }
.a-column { flex-direction: column; }

/*****
 * PADDING 
 *****/

.a-p1 { padding: var(--a-space-1); }
.a-p2 { padding: var(--a-space-2); }
.a-p3 { padding: var(--a-space-3); }
.a-p4 { padding: var(--a-space-4); }
.a-p5 { padding: var(--a-space-5); }

.a-pt1 { padding-top: var(--a-space-1); }
.a-pt2 { padding-top: var(--a-space-2); }
.a-pt3 { padding-top: var(--a-space-3); }
.a-pt4 { padding-top: var(--a-space-4); }
.a-pt5 { padding-top: var(--a-space-5); }

.a-pb1 { padding-bottom: var(--a-space-1); }
.a-pb2 { padding-bottom: var(--a-space-2); }
.a-pb3 { padding-bottom: var(--a-space-3); }
.a-pb4 { padding-bottom: var(--a-space-4); }
.a-pb5 { padding-bottom: var(--a-space-5); }

.a-pl1 { padding-left: var(--a-space-1); }
.a-pl2 { padding-left: var(--a-space-2); }
.a-pl3 { padding-left: var(--a-space-3); }
.a-pl4 { padding-left: var(--a-space-4); }
.a-pl5 { padding-left: var(--a-space-5); }

.a-pr1 { padding-right: var(--a-space-1); }
.a-pr2 { padding-right: var(--a-space-2); }
.a-pr3 { padding-right: var(--a-space-3); }
.a-pr4 { padding-right: var(--a-space-4); }
.a-pr5 { padding-right: var(--a-space-5); }

.a-px1 { padding-left: var(--a-space-1); padding-right: var(--a-space-1); }
.a-px2 { padding-left: var(--a-space-2); padding-right: var(--a-space-2); }
.a-px3 { padding-left: var(--a-space-3); padding-right: var(--a-space-3); }
.a-px4 { padding-left: var(--a-space-4); padding-right: var(--a-space-4); }
.a-px5 { padding-left: var(--a-space-5); padding-right: var(--a-space-5); }

.a-py1 { padding-top: var(--a-space-1); padding-bottom: var(--a-space-1); }
.a-py2 { padding-top: var(--a-space-2); padding-bottom: var(--a-space-2); }
.a-py3 { padding-top: var(--a-space-3); padding-bottom: var(--a-space-3); }
.a-py4 { padding-top: var(--a-space-4); padding-bottom: var(--a-space-4); }
.a-py5 { padding-top: var(--a-space-5); padding-bottom: var(--a-space-5); }

.a-m1 { padding: var(--a-space-1); }
.a-m2 { padding: var(--a-space-2); }
.a-m3 { padding: var(--a-space-3); }
.a-m4 { padding: var(--a-space-4); }
.a-m5 { padding: var(--a-space-5); }

.a-mt1 { margin-top: var(--a-space-1); }
.a-mt2 { margin-top: var(--a-space-2); }
.a-mt3 { margin-top: var(--a-space-3); }
.a-mt4 { margin-top: var(--a-space-4); }
.a-mt5 { margin-top: var(--a-space-5); }

.a-mb1 { margin-bottom: var(--a-space-1); }
.a-mb2 { margin-bottom: var(--a-space-2); }
.a-mb3 { margin-bottom: var(--a-space-3); }
.a-mb4 { margin-bottom: var(--a-space-4); }
.a-mb5 { margin-bottom: var(--a-space-5); }

.a-ml1 { margin-left: var(--a-space-1); }
.a-ml2 { margin-left: var(--a-space-2); }
.a-ml3 { margin-left: var(--a-space-3); }
.a-ml4 { margin-left: var(--a-space-4); }
.a-ml5 { margin-left: var(--a-space-5); }

.a-mr1 { margin-right: var(--a-space-1); }
.a-mr2 { margin-right: var(--a-space-2); }
.a-mr3 { margin-right: var(--a-space-3); }
.a-mr4 { margin-right: var(--a-space-4); }
.a-mr5 { margin-right: var(--a-space-5); }

.a-mx1 { margin-left: var(--a-space-1); margin-right: var(--a-space-1); }
.a-mx2 { margin-left: var(--a-space-2); margin-right: var(--a-space-2); }
.a-mx3 { margin-left: var(--a-space-3); margin-right: var(--a-space-3); }
.a-mx4 { margin-left: var(--a-space-4); margin-right: var(--a-space-4); }
.a-mx5 { margin-left: var(--a-space-5); margin-right: var(--a-space-5); }

.a-my1 { margin-top: var(--a-space-1); margin-bottom: var(--a-space-1); }
.a-my2 { margin-top: var(--a-space-2); margin-bottom: var(--a-space-2); }
.a-my3 { margin-top: var(--a-space-3); margin-bottom: var(--a-space-3); }
.a-my4 { margin-top: var(--a-space-4); margin-bottom: var(--a-space-4); }
.a-my5 { margin-top: var(--a-space-5); margin-bottom: var(--a-space-5); }

/*****
 * COMPONENTS
 *****/

/*****
 * BUTTON
 *****/

.a-Button {
  border-radius: 2px;
  background-color: #f5f8fa;
  border:0;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
  box-shadow: inset 0 0 0 1px rgba(var(--a-dark-gray-1),.2), inset 0 -1px 0 rgba(var(--a-dark-gray-1),.1);
  cursor: pointer;
  color: rgb(var(--a-dark-gray-1));
  font-size: inherit;
  font-family: inherit;
}

.a-Button:hover {
  background-color: rgb(var(--a-light-gray-4));
}

.a-Button:active {
  background-color: rgb(var(--a-light-gray-4));
}

.a-Button:focus {
  outline: 0;
}

.a-Button-minimal {
  background-image: none;
  box-shadow: none;
  background-color: inherit;
}

.a-Button-minimal:hover {
  background-color: rgb(var(--a-light-gray-2));
}

.a-Button-minimal:active {
  background-color: rgb(var(--a-gray-5));
}

.a-Button-outline {
  box-shadow: none;
  background: none;
  border: 1px solid rgba(var(--a-gray-5));
}

/*****
 * LINK
 *****/

.a-Link {
  display: inline-flex;
}

/*****
 * RAISED
 *****/

.a-Raised {
  border-radius: 3px;
  box-shadow:
    0 0 0 1px rgba(var(--a-black), 0.1),
    0 2px 4px rgba(var(--a-black), 0.2),
    0 4px 8px rgba(var(--a-black), 0.2);
  z-index: 10;
}

/*****
 * CALLOUT
 *****/

.a-Callout {
  border-radius: 3px;
  background-color: rgba(var(--a-gray-3), .15);
}

.a-Callout.a-intent-danger {
  background-color: rgba(var(--a-red-3), 0.15);
  /*color: rgb(var(--a-red-2));*/
}


/*****
 * GROUP
 *****/

 /** ROW */

.a-Group-row.a-Group-spacing-1 {
  padding-right: var(--a-space-1);
}

.a-Group-row.a-Group-spacing-1 > * {
  margin-left: var(--a-space-1);
  margin-right: var(--a-space-1);
}

.a-Group-row.a-Group-spacing-2 {
  padding-right: var(--a-space-1);
}

.a-Group-row.a-Group-spacing-2 > * {
  margin-left: var(--a-space-2);
  margin-right: var(--a-space-2);
}

.a-Group-row.a-Group-spacing-3 {
  padding-right: var(--a-space-1);
}

.a-Group-row.a-Group-spacing-3 > * {
  margin-left: var(--a-space-3);
  margin-right: var(--a-space-3);
}

.a-Group-row.a-Group-spacing-4 {
  padding-right: var(--a-space-1);
}

.a-Group-row.a-Group-spacing-4 > * {
  margin-left: var(--a-space-4);
  margin-right: var(--a-space-4);
}

.a-Group-row.a-Group-spacing-5 {
  padding-right: var(--a-space-1);
}

.a-Group-row.a-Group-spacing-5 > * {
  margin-left: var(--a-space-5);
  margin-right: var(--a-space-5);
}

.a-Group-row > *:first-child {
  margin-left: 0;
}

.a-Group-row > *:last-child {
  margin-right: 0;
}

/** COLUMN */

.a-Group-column.a-Group {
  display:flex;
  flex-direction: column;
}

.a-Group-column.a-Group-spacing-1 {
  padding-bottom: var(--a-space-1);
}

.a-Group-column.a-Group-spacing-1 > * {
  margin-top: var(--a-space-1);
  margin-bottom: var(--a-space-1);
}

.a-Group-column.a-Group-spacing-2 {
  padding-bottom: var(--a-space-1);
}

.a-Group-column.a-Group-spacing-2 > * {
  margin-top: var(--a-space-2);
  margin-bottom: var(--a-space-2);
}

.a-Group-column.a-Group-spacing-3 {
  padding-bottom: var(--a-space-1);
}

.a-Group-column.a-Group-spacing-3 > * {
  margin-top: var(--a-space-3);
  margin-bottom: var(--a-space-3);
}

.a-Group-column.a-Group-spacing-4 {
  padding-bottom: var(--a-space-1);
}

.a-Group-column.a-Group-spacing-4 > * {
  margin-top: var(--a-space-4);
  margin-bottom: var(--a-space-4);
}

.a-Group-column.a-Group-spacing-5 {
  padding-bottom: var(--a-space-1);
}

.a-Group-column.a-Group-spacing-5 > * {
  margin-top: var(--a-space-5);
  margin-bottom: var(--a-space-5);
}

.a-Group-column > *:first-child {
  margin-top: 0;
}

.a-Group-column > *:last-child {
  margin-bottom: 0;
}
