/*
 * arche is a two-file React component library. It is intended to be copied (or symlinked)
 * directly into projects.
 */

:root {
  /** TYPOGRAPHY **/
  --a-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  --a-font-mono: monospace;

  /** SPACING **/

  --a-space-1: 4px;
  --a-space-2: 8px;
  --a-space-3: 12px;
  --a-space-4: 16px;
  --a-space-5: 32px;

  /** COLORS **/

  --a-black: 0,0,0;
  --a-white: 255,255,255;

  --a-dark-gray-1: 16,22,26;
  --a-dark-gray-2: 32,43,51;
  --a-dark-gray-3: 41,55,66;
  --a-dark-gray-4: 48,64,77;
  --a-dark-gray-5: 57,75,89;

  --a-gray-1: 92,112,128;
  --a-gray-2:115,134,148;
  --a-gray-3: 138,155,168;
  --a-gray-4: 167,182,194;
  --a-gray-5: 191,204,214;

  --a-light-gray-1: 206,217,224;
  --a-light-gray-2: 216,225,232;
  --a-light-gray-3: 225,232,237;
  --a-light-gray-4: 235,241,245;
  --a-light-gray-5: 248,245,250;
}

/*****
 * TYPOGRAPHY
 *****/

.a-bold { font-weight: bold; }

/*****
 * FLEXBOX
 *****/

.a-flex { display: flex; }
.a-justify-center { justify-content: center; }
.a-column { flex-direction: column; }

/*****
 * PADDING 
 *****/

.a-p1 { padding: var(--a-space-1); }
.a-p2 { padding: var(--a-space-2); }
.a-p3 { padding: var(--a-space-3); }
.a-p4 { padding: var(--a-space-4); }
.a-p5 { padding: var(--a-space-5); }

.a-pt1 { padding-top: var(--a-space-1); }
.a-pt2 { padding-top: var(--a-space-2); }
.a-pt3 { padding-top: var(--a-space-3); }
.a-pt4 { padding-top: var(--a-space-4); }
.a-pt5 { padding-top: var(--a-space-5); }

.a-pb1 { padding-bottom: var(--a-space-1); }
.a-pb2 { padding-bottom: var(--a-space-2); }
.a-pb3 { padding-bottom: var(--a-space-3); }
.a-pb4 { padding-bottom: var(--a-space-4); }
.a-pb5 { padding-bottom: var(--a-space-5); }

.a-pl1 { padding-left: var(--a-space-1); }
.a-pl2 { padding-left: var(--a-space-2); }
.a-pl3 { padding-left: var(--a-space-3); }
.a-pl4 { padding-left: var(--a-space-4); }
.a-pl5 { padding-left: var(--a-space-5); }

.a-pr1 { padding-right: var(--a-space-1); }
.a-pr2 { padding-right: var(--a-space-2); }
.a-pr3 { padding-right: var(--a-space-3); }
.a-pr4 { padding-right: var(--a-space-4); }
.a-pr5 { padding-right: var(--a-space-5); }

.a-px1 { padding-left: var(--a-space-1); padding-right: var(--a-space-1); }
.a-px2 { padding-left: var(--a-space-2); padding-right: var(--a-space-2); }
.a-px3 { padding-left: var(--a-space-3); padding-right: var(--a-space-3); }
.a-px4 { padding-left: var(--a-space-4); padding-right: var(--a-space-4); }
.a-px5 { padding-left: var(--a-space-5); padding-right: var(--a-space-5); }

.a-py1 { padding-top: var(--a-space-1); padding-bottom: var(--a-space-1); }
.a-py2 { padding-top: var(--a-space-2); padding-bottom: var(--a-space-2); }
.a-py3 { padding-top: var(--a-space-3); padding-bottom: var(--a-space-3); }
.a-py4 { padding-top: var(--a-space-4); padding-bottom: var(--a-space-4); }
.a-py5 { padding-top: var(--a-space-5); padding-bottom: var(--a-space-5); }

.a-m1 { padding: var(--a-space-1); }
.a-m2 { padding: var(--a-space-2); }
.a-m3 { padding: var(--a-space-3); }
.a-m4 { padding: var(--a-space-4); }
.a-m5 { padding: var(--a-space-5); }

.a-mt1 { margin-top: var(--a-space-1); }
.a-mt2 { margin-top: var(--a-space-2); }
.a-mt3 { margin-top: var(--a-space-3); }
.a-mt4 { margin-top: var(--a-space-4); }
.a-mt5 { margin-top: var(--a-space-5); }

.a-mb1 { margin-bottom: var(--a-space-1); }
.a-mb2 { margin-bottom: var(--a-space-2); }
.a-mb3 { margin-bottom: var(--a-space-3); }
.a-mb4 { margin-bottom: var(--a-space-4); }
.a-mb5 { margin-bottom: var(--a-space-5); }

.a-ml1 { margin-left: var(--a-space-1); }
.a-ml2 { margin-left: var(--a-space-2); }
.a-ml3 { margin-left: var(--a-space-3); }
.a-ml4 { margin-left: var(--a-space-4); }
.a-ml5 { margin-left: var(--a-space-5); }

.a-mr1 { margin-right: var(--a-space-1); }
.a-mr2 { margin-right: var(--a-space-2); }
.a-mr3 { margin-right: var(--a-space-3); }
.a-mr4 { margin-right: var(--a-space-4); }
.a-mr5 { margin-right: var(--a-space-5); }

.a-mx1 { margin-left: var(--a-space-1); margin-right: var(--a-space-1); }
.a-mx2 { margin-left: var(--a-space-2); margin-right: var(--a-space-2); }
.a-mx3 { margin-left: var(--a-space-3); margin-right: var(--a-space-3); }
.a-mx4 { margin-left: var(--a-space-4); margin-right: var(--a-space-4); }
.a-mx5 { margin-left: var(--a-space-5); margin-right: var(--a-space-5); }

.a-my1 { margin-top: var(--a-space-1); margin-bottom: var(--a-space-1); }
.a-my2 { margin-top: var(--a-space-2); margin-bottom: var(--a-space-2); }
.a-my3 { margin-top: var(--a-space-3); margin-bottom: var(--a-space-3); }
.a-my4 { margin-top: var(--a-space-4); margin-bottom: var(--a-space-4); }
.a-my5 { margin-top: var(--a-space-5); margin-bottom: var(--a-space-5); }

/*****
 * COMPONENTS
 *****/

/*****
 * BUTTON
 *****/

.a-Button {
  border-radius: 2px;
  background-color: #f5f8fa;
  border:0;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
  box-shadow: inset 0 0 0 1px rgba(var(--a-dark-gray-1),.2), inset 0 -1px 0 rgba(var(--a-dark-gray-1),.1);
  cursor: pointer;
  color: rgb(var(--a-dark-gray-1));
  font-size: inherit;
  font-family: var(--a-font);
}

.a-Button:hover {
  background-color: rgb(var(--a-light-gray-4));
}

.a-Button:active {
  background-color: rgb(var(--a-light-gray-4));
}

.a-Button:focus {
  outline: 0;
}

/*****
 * RAISED
 *****/

.a-Raised {
  border-radius: 3px;
  box-shadow:
    0 0 0 1px rgba(var(--a-black), 0.1),
    0 2px 4px rgba(var(--a-black), 0.2),
    0 4px 8px rgba(var(--a-black), 0.2);
  z-index: 10;
}

/*****
 * CALLOUT
 *****/

.a-Callout {
  border-radius: 3px;
  background-color: rgba(var(--a-gray-3), .15);
}