@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,700&display=swap');

body {
  margin: 0;
  font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  color: #202b33;
  width: 100vw;
}

.App > div {
  width: 1200px;
}

.sidebar {
  line-height: 1.4em;
  border-radius: 4px;
  width: 350px;
}

.sidebar > div {
  background-color: #f5f8fa;
}

a {
  color: #0069ff;
  text-decoration: none;
}

a:visited {
  color: #0069ff;
}

.sidebar h3:first-of-type {
  margin:0;
}

.sidebar ul > ul {
  padding-top: 5px;
  padding-left: 10px;
}

.sidebar .buttons {
  display: flex;
  flex-direction: column;
}

.sidebar .buttons button {
  border-radius: 2px;
  border:0;
  color: white;
  background-color: #137cbd;
  margin-top: 1em;
  cursor:pointer;
  font-size: 1em;
  padding: 0.5em;
}

.sidebar .buttons button:hover {
  background-color: #106ba3;
}

.sidebar blockquote {
  
  border-left: 2px solid #293742;
  padding-left: 6px;
  margin-left: 0;
}