@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App {
  background: #ebf1f5;
  color: #202b33;
  width: 100vw;
  flex: 1;
}

.App > div {
  width: 1800px;
}

.sidebar {
  line-height: 1.4em;
  border-radius: 4px;
  flex: 0 0 350px;
}

.sidebar > div {
  background-color: #fff;
}

a {
  color: #0069ff;
  text-decoration: none;
}

a:visited {
  color: #0069ff;
}

.sidebar h3:first-of-type {
  margin:0;
}

.sidebar ul > ul {
  padding-top: 5px;
  padding-left: 10px;
}

.sidebar .buttons {
  display: flex;
  flex-direction: column;
}

.sidebar .buttons button {
  border-radius: 2px;
  border:0;
  color: white;
  background-color: #137cbd;
  margin-top: 1em;
  cursor:pointer;
  font-size: 1em;
  padding: 0.5em;
}

.sidebar .buttons button:hover {
  background-color: #106ba3;
}

.sidebar blockquote {
  border-left: 2px solid #293742;
  padding-left: 6px;
  margin-left: 0;
}

.editor {
  flex: 1 1 800px;
  line-height: 1.8rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display:flex;
  flex-direction: column;
}

.editor > div {
  flex:1;
}

.doc {
  flex: 0 0 400px;
  padding-left: 8px;
}

.doc pre {
  width: 400px;
  max-width: 400px;
  white-space: pre-wrap;
}

.Complete > div{
  margin-top: 8px;
  background: #fff;
  /*
  background: rgba(19,124,189,.15);
  color: #106ba3;
  */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px;
}