.Task {
  border-radius: 2px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
  background-color: $white;
}

.Task-name {
  cursor: pointer;
  &-unset {
    border-bottom: 2px solid $primary4;
  }
  &-complete {
    border-bottom: 2px solid $secondary4;
  }
  &-incomplete {
    border-bottom: 2px solid $danger4;
  }
}

.Comment {
  font-family: monospace;
  font-size: 0.8rem;

  p:last-of-type {
    margin-bottom: 0;
  }
}
