
.Sidebar-container {
  width: 20rem;
}

.Sidebar {
  // border-radius: 4px;
  padding: 1rem;
  border-right: 1px solid $light-gray1;
  background-color: white;
  box-shadow: 1px 0px 1px 0px $light-gray1;
}

.dark .Sidebar {
  background-color: $dark-gray5;
  border-right: 1px solid $dark-gray5;
  box-shadow: 1px 0px 1px 0px  $dark-gray3;
}

.ThemedBody {
  justify-content: space-around;
}

.HabitsPage {
  display: flex;
  max-width: 1440px;

}