
main .scopes {
  max-height: 100%;
}

main .Scope {
  overflow-y: auto;
}

.Scope {
  // background-color: #f5f8fa;
  // box-shadow: 0px 0px 3px 1px $light-gray1;
  // border-radius: 2px;
  // width: 25%;
  width: 20rem;

  // Sticky
  /*
  &:not(.days) {
    align-self: flex-start;
    position: sticky;
    top: 0;
  }
  */
}