@import 'tailwindcss';
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
/*@custom-variant dark (&:is(.dark *)) << makes vite unhappy*/

:root {
  --font-stack:
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto,
    helvetica, arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
